body
{
	background: url("background.png") fixed no-repeat;
	background-size: 100%;
}
header
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 5px black solid;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.4);
}
header:hover
{
		background-color: rgba(255, 255, 255, 0.6);
}
.svg
{
	width: 150px;
	height: 120px;
	margin-left:230px;
	margin-right: 200px;
	padding: auto;
}
.svg:hover
{
	box-shadow: 5px 5px 5px black;
}
.logo-ministere
{
	width: 120px;
	height: 120px;
	margin-left:230px;
	margin-right:230px;
	padding: auto;	
}
.logo-ministere:hover
{
	box-shadow: 5px 5px 5px black;
}
.f24
{
	width: 115px;
	height: 115px;
	margin-right: 100px;
	margin-left: 230px;
	padding: auto;
	
}
.f24:hover
{
	box-shadow: 5px 5px 5px black;
}
/*.tronc
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: top;
	margin:1%;
}*/
.image1
{
	width: 350px;
	height: 350px;
	border-radius: 100%;
	position: absolute;
	left: 17%;
	top: 35%;
	z-index: 3;
}
.image1:hover
{
	z-index: 1;
}
.image2
{
	width: 350px;
	height: 350px;
	border-radius: 100%;
	position:absolute;
	left:45%;
	top: 50%;
	z-index: 3;
}
.image2:hover
{
	z-index: 1;
}
.image3
{
	width: 350px;
	height: 350px;
	border-radius: 100%;
	position: absolute;
	right: 8%;
	top: 35%;
	z-index: 3;
}
.image3:hover
{
	z-index: 1;
}
.vid
{
	width: 485px;
	height: 250px;
	border-radius: 10px;
	position:absolute;
	left:42%;
	top: 23%;

}
.text1
{
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: absolute;
	font-size: 0px;
	left: 16%;
	top: 40%;
	z-index: 2;
}
.text1:hover
{
	width: 650px;
	height: 600px;

	background-color: rgba(0, 0, 255, 0.7);
	font-weight: bold;
	box-shadow: 10px 10px 10px black;
	font-size: 40px;
	font-family: Impact, Arial, sans-serif;
	text-align: justify;
	z-index: 5;
	position: absolute;
	left: 5%;
	top: 20%;
}
.text2
{
	width: 250px;
	height: 250px;
	overflow: hidden;
	position:absolute;
	left:47%;
	top: 56%;
	z-index: 2;


}
.text2:hover
{
	width: 650px;
	height: 450px;
	background-color: rgba(0, 0, 255, 0.7);
	font-weight: bold;
	box-shadow: 10px 10px 10px black;
	font-size: 40px;
	font-family: Impact, Arial, sans-serif;
	text-align: justify;
	z-index: 5;
	position: absolute;
	top: 45%;
	left: 38%;
}
.text3
{
	width: 400px;
	height: 400px;
	overflow: hidden;
	position: absolute;
	font-size: 0px;
	right: 10%;
	top: 40%;
	z-index: 2;
}
.text3:hover
{
	width: 650px;
	height: 600px;

	background-color: rgba(0, 0, 255, 0.7);
	font-weight: bold;
	box-shadow: 10px 10px 10px black;
	font-size: 40px;
	font-family: Impact, Arial, sans-serif;
	text-align: justify;
	z-index: 5;
	position: absolute;
	right: 1%;
	top: 20%;
}
footer
{
	border: 2px black solid;
	padding: 10px;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	bottom: 1%;
	left: 1%;
	right: 75%;
	font-weight: bold;
}